<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/javascript" href="/js/jquery.3.3.1.js">
    <link rel="stylesheet" type="text/javascript" href="/js/script.js">

        <title></title>
    </head>
<body>
    <div class="container">
        <h1>Submitted Information</h1>
            <p>Name:    <b><%= surveyResults.name %></b></p>
            <p>Dojo Location:    <b><%= surveyResults.dojoLocal %></b></p>
            <p>Time spent:    <b><%= surveyResults.hours %></b></p>
            <p>Favorite Language:    <b><%= surveyResults.fav_language %></b></p>
            <p>Language Difficulty:    <b><%= surveyResults.rating %></b></p>
            <p>Comment:    <b><%= surveyResults.comment %></b></p>
        <a href="/" class="btn btn-success">Go Back</a>
    </div>
</body>

</html>